body {
	font-family: comic;
	font-size: 16px;
	margin: 0 auto;
}

@media (min-width: 640px) {
	body {
		width: 98%;
	}
}

.form {
	margin: 0;
	padding: 0;
}

fieldset {
	border: none;
	border-top: .2rem solid lightskyblue;
}

.title {
	font-size: 1.2rem;
	font-family: monospace;
}

.row {
	margin: 1rem 0;
	display: flex;
	align-items: baseline;
}

.row input {
	order: 2;
	cursor: pointer;
	border: none;
	border-bottom: .2rem solid lightskyblue;
	display: inline-block;
	font-family: comic;
	font-size: 1rem;
	margin: 0  0 0;
	padding: .25rem .1rem 0;
	box-sizing: border-box;
}

.row input::after {
	content: "";
	border-bottom: .2rem solid lightskyblue;
}

.row input:hover {
	border-bottom-color:  skyblue;
}

.row input:focus {
	border-bottom-color: deepskyblue;
	outline: none;
}

.row label {
	order: 1;
	display: inline-block;
	border-bottom: .2rem solid transparent;
	box-sizing: border-box;
	padding: 0 1rem 0 0;
}

.row input + label::after {
	content: "";
	display: block;
	height: 0;
	border-bottom: .2rem solid transparent;
	width: 150%;
}

.row input:hover + label::after {
	border-bottom-color: skyblue;
}

.row input:focus + label::after {
	border-bottom-color: deepskyblue;
}

.row button {
	padding: .5rem 1.25rem;
	border: 2px solid darkgreen;
	background-color: seagreen;
	color: #fff;
	transform: scale(1);
	transition: transform .2s ease-in;
	cursor: pointer;
}

.row button:hover {
	transform: scale(1.2);
	transition: transform .2s ease-in;
}

.row button:active {
	transform: scale(1.25);
	transition: transform 1s ease-in;
	border-color: seagreen;
	background-color: darkgreen;
}
